{% extends "my_blog/base.html" %}
{% load static %}
{% block title %}
    首页
{% endblock title %}

{% block content %}
    <section id="blog-slider-section" class="blog-slider-section w100dt mb-50">
        <div class="container">
            <div class="slider">
                <ul class="slides">
                    {% for carousel in carousels %}
                        <li class="slider-item">
                            <img src="{{ carousel.image.url }}" alt="Image">
                            <div class="caption center-align">
                                <a href="#" class="tag l-blue w100dt mb-30">Travel</a>
                                <h1 class="card-title mb-10">
                                    {{ carousel.title }}
                                </h1>
                                <p>
                                    {{ carousel.content }}
                                </p>
                                <a href="single-blog.html" class="custom-btn waves-effect waves-light">READ MORE</a>
                            </div>
                        </li>
                        <p>{{ carousel.title }}</p>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </section>
    <section id="daily-lifestyle-section" class="daily-lifestyle-section mb-50">
        <div class="container">

            <div class="owl-carousel small-carousel owl-theme">
                {% for article1 in articles_top %}
                    <div class="item">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="{{ article1.image.url }}"  alt="Image">
                                <span class="effect"></span>
                            </div>
                            <!-- /.card-image -->
                            <div class="card-stacked">
                                <div class="card-content">
                                    <a href="#" class="tag left l-blue mb-10">{{ article1.category }}</a>
                                    <a href="{% url 'my_blog:article_detail' article1.id %}"
                                       class="sm-name">{{ article1.title }}</a>
                                </div>
                                <!-- /.card-content -->
                                <div class="card-action">
                                    <p class="hero left">
                                        BY - <a href="#" class="l-blue">{{ article1.author }}</a>
                                    </p>
                                    <ul class="post-mate right">
                                        <li>
                                            <a href="#" class="m-0"><i class="icofont icofont-comment"></i> 32</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="blog-section" class="blog-section w100dt mb-50">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l8">
                    {% for article in articles %}
                        <div class="blogs mb-30">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{ article.image.url }}" height="70%" alt="Image">
                                    <a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
                                        <i class="icofont icofont-camera-alt"></i>
                                    </a>
                                </div>
                                <div class="card-content w100dt">
                                    <p>
                                        <a href="#" class="tag left w100dt l-blue mb-30">{{ article.category }}</a>
                                    </p>
                                    <a href="{% url 'my_blog:article_detail' article.id %}" class="card-title">
                                        {{ article.title }}
                                    </a>
                                    <p class="mb-30">
                                        {{ article.summary }}
                                    </p>
                                    <ul class="post-mate-time left">
                                        <li>
                                            <p class="hero left">
                                                By - <a href="#" class="l-blue">{{ article.author }}</a>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="icofont icofont-ui-calendar"></i> {{ article.create_date }}
                                        </li>
                                    </ul>

                                    <ul class="post-mate right">
                                        <li class="like">
                                            <a href="#">
                                                <i class="icofont icofont-heart-alt"></i> {{ article.views }}
                                            </a>
                                        </li>
                                        <li class="comment">
                                            <a href="#">
                                                <i class="icofont icofont-comment"></i> 32
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <ul class="pagination w100dt">
                        <li class="waves-effect"><a href="#!"><i class="icofont icofont-simple-left"></i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="icofont icofont-simple-right"></i></a></li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    {% include "my_blog/aboutme.html" %}
                    {% include "my_blog/followme.html" %}
                    {% include "my_blog/featured-posts.html" %}
                    {% include "my_blog/top-posts.html" %}
                    {% include "my_blog/subscribe.html" %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
