{% extends "my_blog2/base.html" %}
{% load static %}
{% block title %}
    首页
{% endblock title %}


{% block content %}
    <div class="wrapper">
        <main>
            <!--banner begin-->
            <div class="banner">
                <div id="banner" class="fader">
                    {% for carousel in carousels %}
                        <li class="slide">
                            <a href="#" title="{{ carousel.title }}">
                                <img src="{{ carousel.image.url }}">
                                <span class="imginfo">{{ carousel.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    <div class="fader_controls">
                        <div class="page prev" data-target="prev">&lsaquo;</div>
                        <div class="page next" data-target="next">&rsaquo;</div>
                        <ul class="pager_list">
                        </ul>
                    </div>
                </div>
            </div>
            <!--banner end-->
            <div class="bloglist">
                <ul>
                    {% for article in articles %}
                        <li><i class="blogpic"><a href="#"><img src="{{ article.image.url }}" alt=""> </a></i>
                            <dl>
                                <dt><a href="{% url 'my_blog:article_detail' article.id %}"
                                       target="_blank">{{ article.title }}</a></dt>
                                <dd><span class="bloginfo">{{ article.summary }}...</span>
                                    <p class="timeinfo"><span class="lanmu"><a
                                            href="http://www.lmlblog.com/category/moban"
                                            target="_blank">{{ article.category }}</a></span><span
                                            class="date">{{ article.create_date }}</span></p>
                                    <a class="read" href="{% url 'my_blog:article_detail' article.id %}">阅读更多</a></dd>
                            </dl>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </main>
        <aside class="sidebar">
            <div class="fenlei">
                <ul class="flnav">
                    <li class="flselect"><a href="#" title="最新文章" class="pall"></a></li>
                    <li><a href="#" title="站长推荐" class="pgood"></a></li>
                    <li><a href="#" title="点击排行" class="pbro"></a></li>
                    <li><a href="#" title="头条关注" class="pfav"></a></li>
                </ul>
            </div>
            <div class="newstw">
                <ul class="sidenews">
                    <h2>最新主题</h2>
                    <li><i><img src="images/1.jpg"></i>
                        <p><a href="/">mawiss WordPress博客杂志的主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/2.jpg"></i>
                        <p><a href="/">vidorev视频的WordPress主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/3.jpg"></i>
                        <p><a href="/">gridbase -新闻和博客的WordPress主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/4.jpg"></i>
                        <p><a href="/">minberi报纸编辑WordPress主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/5.jpg"></i>
                        <p><a href="/">Penta响应博客的WordPress主题</a></p>
                        <span>2018-05-13</span></li>
                </ul>
                <ul class="sidenews">
                    <h2>主题推荐</h2>
                    <li><i><img src="images/6.jpg"></i>
                        <p><a href="/">响应博客及商店的WordPress主题blggn</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/7.jpg"></i>
                        <p><a href="/">Pepper博客/迷你杂志创意的WordPress主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/8.jpg"></i>
                        <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/9.jpg"></i>
                        <p><a href="/">WordPress博客和杂志的主题Linx</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/10.jpg"></i>
                        <p><a href="/">trendion |个人生活博客和杂志的WordPress主题</a></p>
                        <span>2018-05-13</span></li>
                </ul>
                <ul class="sidenews">
                    <h2>热门主题</h2>
                    <li><i><img src="images/1.jpg"></i>
                        <p><a href="/">Magneto响应WordPress杂志和博客主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/2.jpg"></i>
                        <p><a href="/">WordPress瀑布流主题PinThis中文版</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/3.jpg"></i>
                        <p><a href="/">WordPress音乐主题Always1.8</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/4.jpg"></i>
                        <p><a href="/">Magneto响应WordPress杂志和博客主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/5.jpg"></i>
                        <p><a href="/">WordPress图片主题Lovephoto2.0.2分享</a></p>
                        <span>2018-05-13</span></li>
                </ul>
                <ul class="sidenews">
                    <h2>主题收藏</h2>
                    <li><i><img src="images/12.jpg"></i>
                        <p><a href="/">wordpress个人博客主题No.7极简模板分享</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/11.jpg"></i>
                        <p><a href="/">WordPress自适应淘宝客主题MiTao4.5</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/10.jpg"></i>
                        <p><a href="/">个人博客，属于我的小世界！</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/9.jpg"></i>
                        <p><a href="/">Helen响应式wordpress博客主题</a></p>
                        <span>2018-05-13</span></li>
                    <li><i><img src="images/8.jpg"></i>
                        <p><a href="/">wordpress仿微博个人博客主题tongleer</a></p>
                        <span>2018-05-13</span></li>
                </ul>
            </div>
            <div class="ad"><img src="images/7.jpg"></div>
            <div class="about">
                <h2 class="hometitle">关于我</h2>
                <ul>
                    <div class="avatar"><img src="images/me.jpg" alt=""></div>
                    <p class="abname">lmlblog | maolai</p>
                    <p class="abtext">无折腾,不生活。一个爱折腾，爱分享的90后。 </p>
                    <li><a class="xlwb" href="http://weibo.com/lai88520" target="_blank"></a></li>
                    <li><a class="txqq" href="http://wpa.qq.com/msgrd?v=3&uin=2195335317&site=qq&menu=yes"
                           target="_blank"></a></li>
                    <li><a class="rss" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=2195335317@qq.com"
                           target="_blank"></a></li>
                    <li class="wxpic"><a class="wx" href=""></a><img src="images/pay.jpg"></li>
                </ul>
            </div>
            <div class="tjlm">
                <h2 class="hometitle">推荐栏目</h2>
                <ul>
                    <li><a href="">关于我</a></li>
                    <li><a href="">模板分享</a></li>
                    <li><a href="">博客主题</a></li>
                    <li><a href="">cms主题</a></li>
                    <li><a href="">动漫主题</a></li>
                    <li><a href="http://www.lmlblog.com/tag/images-theme">图片主题</a></li>
                </ul>
            </div>
            <div class="tpjx">
                <h2 class="hometitle">图片主题</h2>
                <ul>
                    <li><a href="#"><i><img src="images/1.jpg"></i><span>个人杂志博客WordPress主题Melina</span></a></li>
                    <li><a href="#"><i><img src="images/2.jpg"></i><span>个人杂志博客WordPress主题Melina</span></a></li>
                    <li><a href="#"><i><img src="images/3.jpg"></i><span>个人杂志博客WordPress主题Melina</span></a></li>
                    <li><a href="#"><i><img src="images/4.jpg"></i><span>个人杂志博客WordPress主题Melina</span></a></li>
                    <li><a href="#"><i><img src="images/5.jpg"></i><span>个人杂志博客WordPress主题Melina</span></a></li>
                    <li><a href="#"><i><img src="images/6.jpg"></i><span>个人杂志博客WordPress主题Melina</span></a></li>
                </ul>
            </div>
            <div class="links">
                <h2 class="hometitle">友情链接</h2>
                <ul>
                    <li><a href="http://www.lmlblog.com">maolai博客</a></li>
                    <li><a href="http://www.lmlblog.com/category/moban">wordpress主题</a></li>
                    <li><a href="http://www.lmlblog.com/blog/1/">个人博客模板</a></li>
                    <li><a href="#">个人博客</a></li>
                </ul>
            </div>
            <div class="ad"><img src="images/8.jpg"></div>
        </aside>
        <!--sidebar end-->
    </div>
{% endblock content %}

